body {
  padding-top: 50px;
}

.navbar-inverse {
	background: #00B1DD;
}

.navbar-inverse .navbar-brand {
color: #00F7B1;
}

.navbar-inverse .navbar-nav > li > a {
color: #ff0;
}

.starter-template {
  border-bottom: 1px solid #333;
  padding: 40px 15px;
  margin-bottom: 20px;
  text-align: center;

}

.name_list {
	text-align: center;
	width: 100px;
	margin: 0 auto;
}

.name_list ul {
	list-style: none;
	font: normal #555 sans-serif;
	padding: 0;
}

.name_list li {
	display: block;
	padding: 5px 10px;
}

.name_list li:hover {
	background-color: #ff0;
}

.name_list a {
	color: red;
}